.navbar-brand{
    font-weight: 700;
    font-family: 'Century Gothic';
    padding: 35px 20px;
}

#navbar-color{
    color: white;
}

.nav-item{
    margin-left: 15px;
    margin-right: 15px;
 }

 

@import "./node_modules/bootstrap/scss/bootstrap.scss";